<ul class="list-disc px-10 py-5">
    <li *ngFor="let item of myItems; let i=index">
        <h3 class="text-xl">{{item.name}}</h3>
        <p>Price: {{item.price}}</p>
        <p>Quantity: {{item.quantity}}</p>
        <button class="bg-slate-600 hover:bg-slate-800 text-white font-bold py-2 px-4 rounded-md" (click)='update(i)'>Update</button>
        <!-- <button *ngIf="item.quantity===0" class="bg-slate-600 hover:bg-slate-800 text-white font-bold py-2 px-4 rounded-full" (click)='requestItem(item.name)'>Request Stock</button> -->
    </li>
    
</ul>